.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px cyan;
    text-shadow: 4px 4px 4px rgb(0, 255, 213);
    color: aqua;
}

.note
{
    font-size: 15px;
    color: rgb(28, 243, 139);
    text-shadow: 4px 4px 4px rgb(2, 120, 193);
}

.copy_right_footer
{
position: fixed;
color: rgb(1, 161, 253);
bottom: 0;
width: 100%;
background-color: rgb(2, 254, 254);
line-height: 3;
text-align: center;
box-shadow: inset 3px 3px 5px black;
font-size: 21px;
text-shadow: 2px 2px rgb(0, 13, 255);
letter-spacing: 2px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
    animation-name: shading;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}
@keyframes shading
{
    0%{box-shadow: 10px 10px 15px   maroon;}
    9%{box-shadow: 10px 10px 15px   red;}
    18%{box-shadow: 10px 10px 15px  orange;}
    27%{box-shadow: 10px 10px 15px  yellow;}
    36%{box-shadow: 10px 10px 15px  rgb(0, 255, 0);}
    45%{box-shadow: 10px 10px 15px  cyan;}
    54%{box-shadow: 10px 10px 15px  blue;}
    63%{box-shadow: 10px 10px 15px  purple;}
    72%{box-shadow: 10px 10px 15px  magenta;}
    81%{box-shadow: 10px 10px 15px  violet;}
    90%{box-shadow: 10px 10px 15px  grey;}
    99%{box-shadow: 10px 10px 15px  black;}

}
